/*body{*/
  /*color: white;*/
  /*background-color: #565454;*/
/*}*/



/*navbar*/

.navbar-default {
  background-color: #565454;
  border-color: #565454;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bed097;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bed097;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bed097;
  background-color: #565454;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bed097;
  background-color: #565454;
}
.navbar-default .navbar-toggle {
  border-color: #565454;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #565454;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #bed097;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bed097;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bed097;
    background-color: #565454;
  }
}

/*end navbar*/

/*parallax*/




/*end parallax*/



.row {
  margin-right: 0px;
  margin-left: 0px;

}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;

}


/*testing*/


/*@import "compass/css3";*/

*{
@include box-sizing(border-box);
}

body{
  font: "Helvetica Neue Light";
  font-size: 14px;
  line-height: 1.7;
  overflow-x: hidden;
  background: rgba(86,84,84,.1);
  color: white;
  background-color: #565454;
}

.wrap{
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

section{
  padding: 2rem 100px;
  margin-bottom: 2rem;
  /*background: #fff;*/
  z-index: 100;

}
.section-hand{
  width: 100%;
  height: 600px;
  background-image: url("../img/hand.jpg");
  background-attachment: fixed;

}

.hand-inner{
  background-color: rgba(190,208,151,0.8);
  height: 100%;
  padding: 20px;
}

.section-building{
  /*width: 100%;*/
  height: 500px;
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;*/
}
.section-wood{
  width: 100%;
  height: 900px;
  background-image: url("../img/wood-ropes.png");
  background-attachment: fixed;
  background-repeat: no-repeat;


}

.section-green-banner{
  width: 100%;
  height: 100px;
  background-color: #BED097;
}

.section-green-banner-small{
  width: 100%;
  height: 50px;
  background-color: #BED097;
}

.section-grey-banner{
  width: 100%;
  height: 100px;
  background-color: #565454;
  margin-bottom: 20px;
  border: solid white 1px;

}

@media (max-width: 767px) {
  h1{
    font-size: 2em;
  }

}
/*aligns vertical horizontally */
.vert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tree-icon{
  background-image: url("../img/tree.svg");

  z-index: 100;
}
