<div class="row bg-green">

  <div class="col-sm-12">
    <p class="splash  midText ">
      <br><span class="bigText">Contact us</span>
      <br>You can contact us on our email, <br>AmyAndJacksWedding@gmail.com<br> or leave us a message below...
    </p>
  </div>
  <div class="row">

    <div class="col-sm-2">
      <img class="pic pic2 pull-left" src="/images/pic5.png"> </div>


  </div>
  <div class="row">
    <div class="col-sm-2">
      <img class="pic pic3 pull-left" src="/images/pic1.png"> </div>

  </div>

  <div class="spacer pull-right">
  </div>


</div>

