<div class="row bg-green">

  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    <p class="splash mobile-text">
      <br>
      <span class=" bigText ">Gifts</span><br><span class="midText">
       As we have been living together for almost seven years we really don't need any of the
      traditional wedding gifts, as long as you turn up we will be happy. For those of you that do wish to give a gift you may contribute to our honeymoon.
      <br>
      We are planning on visiting Borneo...</span>
    </p>
  </div>


      <div class="col-sm-2">
        <img class="pic pic5 pull-right" src="/images/pic1.png"> </div>

  <div class="spacerMid pull-right">
  </div>

</div>


<div class="parallax">



  <div class="parallax__layer parallax__layer--base">
    <img class="borneo pull-left" src="/images/borneo.jpg"> </div>
<div class="mobile-text midText splash"><span class="bigText">Borneo</span><br>
  We are planning on spending our time exploring the ancient, biodiverse rainforest<br> and relaxing on the sandy beaches.
  <br>As animal lovers we also can't wait to meet the orangutans in the animal sanctuaries.
</div>
</div>



<!--<div class="row bg">-->

  <!--<div class="col-sm-12 op">-->
    <!--<p class="splash   midText ">-->
      <!--<span class="bigText">Amy Leyshon<br> and <br>Jack Niland</span>-->
      <!--<br> request the pleasure of your company at the celebration of their union on the 21st of May 2016 18:00 pm-->
      <!--<br>at the y - theatre 7 East st, city centre, leicester LE1 6EY</span>-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="row">-->

    <!--<div class="col-sm-2">-->
      <!--<img class="pull-right pic2" src="/images/testing.png"> </div>-->


  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-2">-->
      <!--<img class="pull-left pic2" src="/images/testing.png"> </div>-->
  <!--</div>-->



  <!--<div class="row">-->

    <!--<div class="col-sm-2">-->
      <!--<img class="pull-left pic3" src="/images/testing.png"> </div>-->

  <!--</div>-->


<!--</div>-->
