<div class="row container-fluid" >


  <div class="row wrap">
      <div class="section-hand">
        <div class="col-xs-2 col-md-8"></div>
        <div class="col-xs-10 col-md-4 hand-inner">
          <h1>07734201158</h1><br>
          <p>“Seven oaks are iusmod tempor re iusmod tempor re iusmod tempor re iusmod tempor incididunt ut labore et”</p><br>
          <h1 class="art-title">sevenOaks@email.com
          </h1><br>
          <p>“Here at Seven oaks we iusmod tempor re iusmod tempor re iusmod tempor re iusmod tempor incididunt ut labore et”</p>
        </div>
      </div>
  </div>


      <div class="row content wrap">
        <div class="col-md-2">
        </div>


        <div class="col-xs-12 col-md-8">

        <h1>A little about us</h1>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        </div>

          <div class="col-md-2">

<img src="../img/building.png" class="section-building pull-right">
            </div>
      </div>

  <div class="row wrap section-green-banner">
    <div class="col-md-2 ">
</div>
    <div class="col-xs-12 col-md-8 ">
    <div class=" section-green-banner">
      <h1 class="">What we offer</h1>
    </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row wrap section-wood">
      <div class="row">
        <div class="col-md-2 ">

        </div>
        <div class="col-xs-12 col-md-8 ">
          <div class=" ">
          </div>
        </div>
        <div class="col-md-2">

        </div>


  </div>

    <div class="row">
      <div class="col-md-2 ">

      </div>
      <div class="col-xs-12 col-md-8 ">
        <div class="section-grey-banner ">
<p>"Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid "Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid"
  </p>
        </div>
      </div>
      <div class="col-md-2">

      </div>


    </div>

    <div class="row">
      <div class="col-md-2 ">

      </div>
      <div class="col-xs-12 col-md-8 ">
        <div class="section-grey-banner ">
          <p>"Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid "Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid"
          </p>
        </div>
      </div>
      <div class="col-md-2">

      </div>


    </div>

    <div class="row">
      <div class="col-md-2 ">

      </div>
      <div class="col-xs-12 col-md-8 ">
        <div class="section-grey-banner ">
          <p>"Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid "Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid"
          </p>
        </div>
      </div>
      <div class="col-md-2">

      </div>


    </div>
    <div class="row">
      <div class="col-md-2 ">

      </div>
      <div class="col-xs-12 col-md-8 ">
        <div class="section-grey-banner ">
          <p>"Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid "Lorem ipsum dolor sit ansectetur adipiscing elit, sed do eiusmod tempor incidid"
          </p>
        </div>
      </div>
      <div class="col-md-2">

      </div>


    </div>
  </div>

  <div class="row wrap section-green-banner">
    <div class="col-md-2 ">
    </div>
    <div class="col-xs-12 col-md-8 ">
      <div class=" ">
        <h1 class="">Recent Work</h1>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <div class="row content wrap">
    <div class="col-md-2">
    </div>


    <div class="col-xs-12 col-md-8">

      <h1>R</h1>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>

    <div class="col-md-2">

      <img src="../img/building.png" class="section-building pull-right">
    </div>
  </div>


  <div class="row wrap section-green-banner-small">
    <div class="col-md-2 ">
    </div>
    <div class="col-xs-12 col-md-8 ">
      <div class=" ">
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>










  </div>

</div>
