<div class=" bg-green">

<div class="row mobile-text ">

<div class="col-sm-12  bigText">
<p class="  " >Where to go...</p>



<div class="row col-sm-12  midText">

  <div class="col-sm-3 ">

      <p >The Y Theatre<br>Our wedding venue, the oldest theatre in Leicester<br>7 East st, city centre, leicester LE1 6EY</p>

    </div>
    <div class="col-sm-3 ">

    <p>Local Taxi Numbers:<br>Club: 0116 231 3001<br>Swift: 0116 262 8222</p>

  </div>

    <div class="col-sm-3 ">

      <p>Hotels:<br>Premier Inn <a href="http://www.premierinn.com/gb/en/hotels/england/leicestershire/leicester/leicester-city-centre.html?ARRdd=12&ARRmm=02&ARRyyyy=2016&ROOMS=1&ADULT1=1&CHILD1=0&COT1=0&INTTYP1=DB">Link to book.</a>
        <br>Ibis <a href="http://www.ibis.com/gb/hotel-3061-ibis-leicester-city/index.shtml">Link to book.</a>
      </p>

    </div>

    <div class="col-sm-3">

      <p>Parking:<br>More Restaurant, LE2 0QD <a href="http://www.en.parkopedia.co.uk/parking/carpark/more_restaurant/le2/leicester">Link.</a>
        <br>NCP <a href="http://www.ncp.co.uk/find-a-car-park/car-parks/leicester-east-street/">Link.</a>
      </p>

    </div>
</div>
</div>
  </div>
</div>
</div>

  <!--<div class="col-sm-4">-->



    <!--<img class="pin pull-left" src="/images/pin.svg">    <p class="pull-left">The Y Theatre is the oldest theatre in Leicester</p>-->


  <!--</div>-->

<div class="row bg-stripe">
<iframe id="map" src="https://www.google.com/maps/d/embed?mid=zqGZa5Er4LdY.kdUNQC3cu-ls"  style="width: 90%"></iframe>
<!--        <div class="pin"><img class="pull-left" src="/images/pin.svg"> </div>-->

</div>

<div class="row bg-pink ">
  <div class="col-sm-2">
    <img class="pic pic5 pull-right" src="/images/pic5.png"> </div>

  <div class="col-sm-8 mobile-text">
    <p class="splash   midText ">
      <span class="  bigText">Questions</span>
      <br><br>Please contact us with any questions you may have on
      <br><br>AmyAndJacksWedding@gmail.com
    </p>
  </div>

  <div class="col-sm-2">
    </div>



  <div class="spacerMid"></div>

</div>
