<div class="row   bg-green">


<div class="row   bg-green">
  <div class="col-sm-2">
    <img class="pic pic1 pull-left " src="/images/pic1.png"> </div>
     <div class="col-sm-8 ">
       <div class="words ">

        <span class="mobile-text"> <p class=" splash  outlineText  ">
           <span class=" bigText">Amy Leyshon<br> & <br>Jack Niland</span><br><br>
          <span class="midText">
          Request the pleasure of your company at the celebration of their union on the 21st of May 2016 18:00 pm
          at The Y Theatre 7 East st, city centre, leicester LE1 6EY
        </p></span></span>

  </div>
  </div>
  <div class="col-sm-2"></div>

</div>


<!--<div class="transparent-layer">-->
<!--</div>-->



<div class="row">
<div class="col-sm-2 ">
<img class="pic pic3 pull-left" src="/images/pic8.png"> </div>

</div>
<div class="spacer pull-right">
</div>

</div>


<!--<div>-->
<!--<div style="position:absolute; font-size:80px; color:blue; z-index:1;">LAYER 1</div>-->
<!--<div style="position:absolute; font-size:80px; color:red; z-index:2">LAYER 2</div>-->
<!--<div style="position:absolute; font-size:80px; color:green; z-index:3;">LAYER 3</div>-->
<!--<div style="position:absolute; font-size:80px; color:yellow; z-index:4">LAYER 4</div>-->
<!--</div>-->

