<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<div class="rsvp">



<div class="row">


  <div class="row">
    <div class="col-sm-2">
      <img class="pic pic1 pull-left " src="/images/pic1.png"> </div>
    <div class="col-sm-8 ">
      <div class="rsvpFormOuter ">
        <div class="rsvpFormInner ">

          <p class="">
          <span class=" bigText">RSVP </span></p>

            <div ng-app="mytodoApp" ng-controller="RSVPCtrl">
            <form>Your Name:<br><input type="text"><br><br>
              Your Guests Name:<br><input type="text"><br><br>

              Are you attending?<br>
              <input type="radio" ng-model="myVar" value="yes">Yes, I Accept with pleasure!<br>
              <input type="radio" ng-model="myVar" value="no">No, I regretfully decline.<br><br>

              The song/band/artist to get me on the dancefloor is: <br><input type="text"><br>
              <br>
              Would you like to add a note to us about the day?<br><input type="text"><br><br>

            </form>




          </div>
            </div>
    </div>
    <div class="col-sm-2"></div></div>

  </div>




  <!--<div class="row">-->
    <!--<div class="col-sm-2 ">-->
      <!--<img class="pic pic3 pull-left" src="/images/pic8.png"> </div>-->

  <!--</div>-->
  <div class="spacer pull-right">
  </div>

</div>
</div>
