<div class="row bg-green ">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">

    <p class="splash  mobile-text">
      <span class="  bigText">21/05/2016<br>18:00</span>
      <span class=" midText ">
      <br>We are having a very small private ceremony in the daytime but all the fun stuff starts at The Y.
         Please arrive at 18:00 at The Y Theatre
         7 East st, city centre, leicester LE1 6EY
     </p></span>
  </div>

  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <img class="pic pic2  pull-right" src="/images/pic4.png"> </div>


  </div>
  <div class="spacerMid pull-right">


  </div>

</div>

<div class="row bg-pink">
  <div class="col-sm-2">
    <img class="pic pic3 pull-left" src="/images/pic6.png">


  <img class="pic pic1 pull-left " src="/images/pic3.png"></div>

  <div class="col-sm-8">
    <p class="splash  mobile-text ">
      <span class="  bigText">Food<br>(and Drink!)</span>
      <br>
       <span class="  midText  ">
      We will be having a buffet consisting of poached salmon dressed with cucumber, watercress and lemon wedges,
         a selection of sandwiches, wraps and open rolls (with veggie options),
         home-made savouries such as sausage roll, tartlets, flan, plus spring rolls and pork pies, crudites with dip, Moroccan couscous and chickpea salad, and a classic salad.
         There will also be a choice of wine on the table
         and other drinks are available from the fully stocked bar.
    </p>

</div>

<div class="col-sm-2"></div>

  <div class="spacerBig pull-right">

  </div>

  </div>

<div class="row bg-green">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <p class="splash  mobile-text ">
      <span class="bigText">Dancing</span><span class="midText">

      <br>Let us know in your RSVP what you want to listen to and we'll have the DJ play it.
      Don't be shy, we have the Y till late so we need lots of music to get people on the floor!</span>
    </p>
  </div>

    <div class="col-sm-2">
      <img class="pic pic5 pull-right" src="/images/pic7.png"> </div>


  <div class="spacerMid pull-right">
  </div>
</div>
